.contact {
    background-color: var(--primary-text-color);
}

.model {
    position: absolute;
    height: 100vh;
    width: auto;
    right: 0;
    top: 0;
    z-index: -1;
}

.contactSection1 {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: var(--default-padding);
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: var(--default-padding);
    gap: 1rem;
}

.form h3 {
    color: var(--primary-color);
}

.form input,
.form textarea,
.form select {
    width: 100%;
    height: 4rem;
    background-color: #0D0D0D;
    border: solid 2px #191919;
    color: #6b6b6b;
    font-size: 1rem;
    border-radius: 8px;
    padding: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.form input::placeholder,
.form textarea::placeholder {
    transition: all 0.3s ease-in-out;
    color: #6b6b6b;
}

.form input:focus,
.form textarea:focus,
.form select:focus {
    background-color: #191919;
    color: var(--white-color);
}

.form input:focus::placeholder,
.form textarea:focus::placeholder {
    color: var(--white-color);
}

.form textarea {
    resize: vertical;
    min-height: 10rem;
    max-height: 20rem;
}

.form select {
    cursor: pointer;
}

.form select option {
    color: #585858;
    background-color: #0D0D0D;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
}

.form button {
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    height: 4rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.form button:hover {
    background-color: var(--primary-text-color);
    color: var(--primary-color);
}

.contactSection2 {
    height: 100vh;
    padding: var(--default-padding);
    display: flex;
    gap: var(--default-padding);
}

.iframe {
    flex: 1;
    width: 100%;
    border: var(--grey-color) 2px solid;
}

.contactContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactContent h3 {
    color: var(--primary-color);
}

.contactContent h2 {
    color: var(--white-color);
}

.contactContent p {
    color: var(--white-color);
}

.contactCardContainer {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 2rem;
}

.contactCard {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 70%;
}

.contactCardImgContainer {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--primary-color);
    flex-shrink: 0;
}

.contactCardImgContainer img {
    width: 2rem;
    height: 2rem;
}

.contactCardContent h4 {
    color: var(--primary-color);
    font-size: 1rem;
}

.contactCardContent h5 {
    color: var(--white-color);
    font-size: 0.8rem;
}