.contactSection {
    height: 100vh;
    padding: var(--default-padding);
    padding-top: var(--header-height);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.contactContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.contactCard {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.contactCard img {
    height: 2rem;
}

.contactCard h2 {
    font-size: 1rem;
}

.iframeContainer {
    display: flex;
    flex-direction: column;
}

.iframe {
    flex: 1;
    border-radius: var(--default-border-radius);
    border: none;
}