.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-left: var(--default-padding);
    padding-right: var(--default-padding);
    height: var(--header-height);
    align-items: center;
    background-color: var(--white-color);
}

.markHeader {
    height: 4rem;
}

