.container {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: var(--default-padding);
}

.form {
    width: 100%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.field input {
    height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--light-grey-color);
}

.form button {
    height: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--light-grey-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.error {
    margin: 0;
}